.sidebar{
    background-color: #d3d3d3;
    height: 100vh
}

li{
    padding: 10px;
}

.offcanvas-title{
    font-size: 30px;
    display: flex;
    align-items: flex-start;
    margin-top: 20px;
    letter-spacing: px;

}

.panel{
    display: flex;
    align-items: start;
}


.col-sm-9{
    padding-left: 0px;
    padding-right: 0px;
}

.offcanvas-header{
    display: flex;
    flex-direction: column;
}